<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="welcome_style.css" />
        <script src="welcome_script.js" > </script>
        <title> Strona wejściowa </title>
    </head>

    <body>
        <header> 
            Witaj na stronie
        </header>

        <div>
            <div id="container">
                <div id="log_panel">
                    <p> <button id="login_button"> Zaloguj </button> </p>
                    <p> <button id="signin_button"> Rejestracja </button> </p>
                </div>
            </div>

            <div id="desc_panel">
                <h1> <p> Opis </p> </h1>
                Celem serwisu jest zbieranie informacji na temat wydatków i przygotowywanie
                prostych analiz na ich podstawie. Podstawowymi funkcjonalnościami są:
                <p>
                    <ul>
                        <li> Załączenie wydatków formularzu </li>
                        <li> Załaczenie wydatków w formie zdjęcia analizowanego na serwerze </li>
                        <li> Liczenie średniej wydatków w podanycm przedziale czasowym </li>
                        <li> Liczenie sumy wydatków w podanym przedziale czasowym</li>
                        <li> Porównywanie cen produktów w sklepach </li>
                    </ul>
                </p>        
            </div>

            <div id="clear_div"> </div>
        </div>

        <footer>
            Koniec
        </footer>
    </body>
</html>