<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="welcome_style.css" />
        <script src="welcome_script.js" > </script>
        <title> Strona wejściowa </title>
    </head>

    <body>
        <header> 
            Początek
        </header>

        <div>
            <div id="container">
                <div id="log_panel">
                    <p> <button id="login_button"> Zaloguj </button> </p>
                    <p> <button id="signin_button"> Rejestracja </button> </p>
                </div>
            </div>

            <div id="desc_panel">
                Tutaj bedzie opis serwisu.
            </div>

            <div id="clear_div"> </div>
        </div>

        <footer>
            Koniec
        </footer>
    </body>
</html>