body {
    background-color: rgb(66, 66, 66);
}

h1 {
    font-size: 30px;
}

header {
    border-radius: 15px;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(107, 107, 173);
    margin: auto;
    margin-bottom: 10px;
    height: 50px;
}

footer {
    border-radius: 15px;
    text-align: center;
    background-color: rgb(107, 107, 173);
    margin: auto;
    margin-top: 10px;
    height: 50px;
}

div {
    width: 100%;
}

button {
    display: block;
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(255, 205, 96);
}

button:hover {
    background-color: rgb(235, 185, 76);
}

button:active {
    background-color: rgb(205, 155, 46);
}

#container {
    border-radius: 15px;
    background-color: rgb(107, 107, 173);
    height: 75vh;
    width: 25%;
    min-width: 250px;
    float: left;
}

#log_panel {
    margin: auto;
    margin-top: 20%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(117, 117, 183);
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
}

#desc_panel {
    border-radius: 15px;
    background-color: rgb(255, 205, 96);
    padding-left: 4%;
    margin-left: 1%;
    width: 70%;
    height: 75vh;
    font-size: 20px;
    float: left;
}

#clear_div {
    clear: both;
}